html, body, main {
    width: 100%;
    margin: 0;
    padding: 0;
}

#header {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

#header h1 {
    color: #cd8126;
    font: bold 70px arial;
}

#header h3 {
    color: #cd8126;
    font: bold 20px arial;
}

#header span {
    color: #cd8126;
    font: bold 12px arial;
}

#main {
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #cd8126;
    color: #fff;
    padding-bottom: 10px;
}

.option {
    margin-bottom: 10px;
}

#erreur {
    color: #fff !important;
    background-color: red !important;
    width: 400px;
    border-radius: 20px;
}

#erreurPartage {
    color: #fff !important;
    background-color: red !important;
    width: 300px;
    border-radius: 20px;
    text-align: center;
}

#motPhrase {
    display: none;
    background-color: #ffffff;
    border-radius: 20px;
    height: 50px;
    width: 500px;
    vertical-align: middle;
    color : #cd8126;
    font-size: 30px;
}

#formulaire {
    width: 500px;
    display: flex; 
    align-items: center; 
}

#saisie {
    display: none;
    margin-top: 10px;
    width: 255px;
    height: 25px;
    border-radius: 20px;
    padding-left: 10px;
}

#boutonPart {
    width: 130px;
    height: 30px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: #fff;
}

#boutonRejouer {
    width: 130px;
    height: 30px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: #fff;
}

#bouton {
    display: none;
    width: 120px;
    height: 30px;
    margin-top: 7px;
    margin-left: 5px;
    border-radius: 20px;
    background-color: #fff;
}

#score {
    padding-top: 15px;
    height: 50px;
    width: 500px;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    display: none;
}

#footer {
    background-color: #cd8126;
    border: 2px solid black;
    height: 150px;
    width: 100%;
    position: fixed; 
    bottom: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: #fff;
}

.partager {
    margin-top: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 8;
    display: none;
}

  .partager-popup {
    position: relative;
    text-align: center;
    width: 100%;
  }

  .form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    z-index: 9; 
    border-radius: 10px; 
}

.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #cd8126;
    border-radius: 10px;
    color: #fff;
}
  
  .form-container input[type="text"] {
    width: 280px;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
  }

  .form-container input[type="text"]:focus {
    background-color: #fff;
    outline: none;
  }
 
  .form-container .btn {
    background-color: #5a811f;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }

  .form-container .cancel {
    background-color: #cc0000;
  }